@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}
h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.top-bg {
    background-image: url(img/banner.png);
    background-size: cover;
    background-position: bottom;
    height: 850px;
}
.top-menu {
    display: flex;
    padding: 50px 0;
}
.top-menu-links {
    width: 55%;
}
.top-menu-logo {
    display: flex;
    align-items: center;
}
.top-menu-links ul {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-evenly;
}
.top-menu-links a {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}
.top-text {
    color: #fff;
    width: 530px;
    padding-top: 165px;
}
.top-text p {
    font-size: 18px;
    margin-bottom: 0;
}
.top-text h1 {
    font-size: 46px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
}
.top-text a {
    color: #784B2E;
    width: 183px;
    height: 50px;
    background: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}
.content-block-1 .container {
    display: flex;
    justify-content: space-between;
}
.content-block-1-text {
    width: 50%;
}
.content-block-1-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.content-block-1-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
}
.content-block-1-text p, .content-block-1-text h3 {
    margin: 0;
}
section.cards-wrapper {
    background-image: url(img/bg.png);
    background-size: cover;
    padding: 60px 0;
    margin: 60px 0;
}
.cards-wrapper h3 {
   text-align: center; 
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards-block {
    width: 387px;
    background: #fff;
    box-shadow: 0px 0px 20px 10px rgba(182, 136, 52, 0.05);
    border-radius: 25px;
    margin-bottom: 20px;
}
.cards-block .cards-name {
    text-align: left;
}
.cards-name, .cards-description, .cards-price, .cards-coming {
    padding-left: 27px;
    padding-right: 27px;
}
.cards-name {
    color: #000;
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
}
.cards-description {
    color: #969696;
    font-size: 18px;
    line-height: 175%;
    font-weight: 400;
}
.cards-price {
    color: #784B2E;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
}
.cards-coming {
    color: #BFBCBA;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
}
@media screen and (max-width: 500px) {
    .container, .top-text {
        width: 100%;
    }
    .top-text, .content-block-1-img, .content-block-1-text {
        text-align: center;
    }
    .top-text h1 {
        margin-bottom: 10px;
    }
    .top-text a {
        margin: 0 auto;
    }
    .top-menu, .top-menu-links ul {
        flex-direction: column;
        align-items: center;
    }
    li {
        padding: 10px 0;
    }
    .top-menu-links a {
        font-size: 35px;
    }
    .top-menu {
        padding-bottom: 0;
    }
    .top-text {
        padding-top: 0;
    }
    .content-block-1 .container {
        flex-direction: column;
    }
    .content-block-1-img img, .content-block-1-text {
        width: 90%;
    }
    .content-block-1 .container {
        align-items: center;
    }
    .cards {
        justify-content: center;
    }
    .cards-block {
        width: 350px;
    }
}